.userLoginCreate {
  background-color: white;
  height: 50%;
  padding-top: 7em;
  margin-bottom: 35%;
  text-align: center;
}

.createTitle {
  height: 35em;
  padding-top: 3em;
  margin-top: 3em;
  text-align: center;
}

CreateAcc h6 {
  padding-top: 5em;
  padding-left: 1em;
  text-align: left;
}

.createAccBtn {
  margin-left: 1em;
}

.accountExists {
  margin-top: 5em;
  margin-bottom: 5em;
}

.userLoginCreate, .createTitle, .createAcc h6, .createAccBtnLogin, .loginLink, .accountExists{
  font-family: "Khand", sans-serif;
}

/* input box styling is in LoginMod css */
