.prog {
  background-color: white;
  height: 14em;
  padding-top: 1em;
  margin-top: 3em;
  margin-bottom: 5em;
  text-align: center;
  border-radius: 1em;
  border-style: solid;
  border-color: #c4dcf0;
  font-family: 'Khand', sans-serif;
}

.progress-div {
  background-color: white;
  min-height: 80%;
  max-height: 80%;
  padding-top: 2em;
  font-family: 'Khand', sans-serif;
}

.ldBar {
  width: 100%;
  height: 1%;
  margin: auto;
  font-family: 'Khand', sans-serif;
}

