

.greeting {
    background-color: antiquewhite;
    height: 14em;
    padding-top: 3em;
    margin-top: 3em;
    text-align: center;
    border-radius: 1em;
}

.logo {
    margin:auto;
    width: 7em;
}