.userLogin {
  background-color: white;
  height: 50%;
  padding-top: 7em;
  margin-bottom: 35%;
  text-align: center;
}

.loginTitle {
  height: 25em;
  padding-top: 3em;
  margin-top: 3em;
  text-align: center;
}

LoginMod h6 {
  padding-top: 5em;
  padding-left: 1em;
  text-align: left;
}

.createAccBtnLogin {
  float: left;
}

.uNameInput,
.pWordInput,
.emailInput {
  margin-bottom: 4em;
  height: 2em;
  width: 50%;
  border: none;
  border: solid 1px #ccc;
  border-radius: 10px;
}

.signUp {
  margin-top: 5em;
  margin-bottom: 5em;
}

.userLogin,
.loginTitle,
.LoginMod h6,
.createAccBtnLogin {
  font-family: "Khand", sans-serif;
}
