.userLogin {
  background-color: white;
  height: 25em;
  padding-top: 7em;
  margin-bottom: 35%;
  text-align: center;
  border-radius: 1em;
  border-style: solid;
  border-color: #c4dcf0;
  font-family: "Khand", sans-serif;
}

.loginTitle {
  height: 50%;
  padding-top: 3em;
  margin-top: 3em;
  text-align: center;
  font-family: "Khand", sans-serif;
}

h6 {
  padding-top: 5em;
  padding-left: 1em;
  text-align: left;
  font-family: "Khand", sans-serif;
}

.createAccBtn {
  float: left;
  margin-left: 1em;
  font-family: "Khand", sans-serif;
}
